{% extends 'base.html' %}
{% load bootstrap3 %}

{% block body_block %}
    <div class="jumbotron">
        {% if registered %}
            <h1>Thank You for registration</h1>
        {% else %}
            <h1>Register Here!</h1>
            <h3>Fill out the form below: </h3>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form user_form %}
                {% bootstrap_form profile_form %}
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
        {% endif %}
    </div>

{% endblock %}